[submodule "Tools/bg3rustpaklib"]
	path = Tools/bg3rustpaklib
	url = https://github.com/ElwinghL/bg3rustpaklib.git
	branch = main
[submodule "Tools/BG3-Load-Order-Optimizer"]
	path = Tools/BG3-Load-Order-Optimizer
	url = https://github.com/Nemix3D/bg3-load-order-optimizer.git
[submodule "Tools/ExportTools"]
	path = Tools/ExportTools
	url = https://github.com/Norbyte/lslib.git
[submodule "Tools/Para-Tools"]
	path = Tools/Para-Tools
	url = https://github.com/Paramonov86/Para_Tool.git
[submodule "Tools/BG3ModManager_Latest"]
	path = Tools/BG3ModManager_Latest
	url = https://github.com/laughingleader/bg3modmanager.git
[submodule "Tools/BG3 Script Extender"]
	path = Tools/BG3 Script Extender
	url = https://github.com/Norbyte/bg3se.git
[submodule "Tools/BG3-Compatibility-Framework"]
	path = Tools/BG3-Compatibility-Framework
	url = https://github.com/BG3-Community-Library-Team/BG3-Compatibility-Framework.git
[submodule "Tools/bg3pythonpaklib"]
	path = Tools/bg3pythonpaklib
	url = https://github.com/ElwinghL/bg3pythonpaklib.git
	branch = main
